@media screen and (max-width:767px) {
.wrapper{
    width: 300px;
}
.left{
    width: 100px;
}
.center-column {
    width: 125px;
}
.right{
    width: 75px;
}
.mr-wrapper {
    width: 200px; 
}
.center-lower {
    width: 200px; 
}
.footer{
    width: 300px;
}
}

@media screen and (max-width:479px) {
.wrapper{
    width: 150px;
}

.left,
.center-column,
.mr-wrapper,
.right,
.center-lower, 
.footer{
    float: none;
    width: 150px;
}
.left,
.right{
    height: 100px;
}

.top-row,
.mr-wrapper{ 
    height:auto; 
}

}